
*.env
*.db
*.sample
*.pem
*.key

cloud/immich/ml/*
cloud/mariadb-nc/*
cloud/nextcloud/*
!cloud/nextcloud/config/www/nextcloud/config/config.php

homeassistant/config/secrets.yaml
homeassistant/config/.storage/
homeassistant/config/home-assistant.log
homeassistant/config/home-assistant.log.1
homeassistant/config/home-assistant.log.fault


homeassistant/frigate/
!homeassistant/frigate/config/config.yml
homeassistant/grafana/*
homeassistant/influxdb2/*
homeassistant/mariadb-ha/*
homeassistant/matter/*
homeassistant/mosquitto/*
homeassistant/node-red/*
homeassistant/secure-remote-access/*
homeassistant/zwave-config/*

media-services/plex/*
media-services/qbittorrent/*
media-services/bazarr/*
!media-services/bazarr/config.yaml
media-services/lidarr/*
!media-services/lidarr/config.xml
media-services/prowlarr/*
!media-services/prowlarr/config.xml
media-services/sonarr/*
!media-services/sonarr/config.xml
media-services/radarr/*
!media-services/radarr/config.xml
media-services/recyclarr/*
!media-services/recyclarr/recyclarr.yml
media-services/sabnzbd/*
!media-services/sabnzbd/sabnzbd.ini
media-services/overseerr/*
!media-services/overseerr/settings.json

network-services/dnscrypt/*
!network-services/dnscrypt/proxy/
#config/dnscrypt-proxy.toml
network-services/portainer/*
network-services/pi-hole/*
!network-services/pi-hole/etc-pihole/gravity.db
!network-services/pi-hole/etc-pihole/config_backups/*
network-services/swag/*
