SERVER_IP=0.0.0.0
#HA_APPDAEMON_KEY=some long access token
#VSCODE_PASSWORD=password
LOCAL_USER=1000
#VNC_PASSWORD=password
MYSQL_ROOT_PASSWORD=mariadbrootOct2021
MYSQL_DATABASE=ha_db
MYSQL_USER=homeassistant
MYSQL_HA_PASSWORD=mariadbOct2021
DB_CONNECTION=mysql://${MYSQL_USER}:${MYSQL_HA_PASSWORD}@${SERVER_IP}/${MYSQL_DATABASE}?charset=utf8mb4